body {
  font-family: 'Quicksand', sans-serif;
}

.me-color {
  background-color: #fcd0c7;
}

.navbar-brand {
  font-family: 'Titan One', cursive;
  font-size: 40px;
}

.nav-item {
  font-family: 'Open Sans', sans-serif;
}

.line {
  text-decoration: underline;
  text-decoration-color: #fcd0c7;
}

header {
  background-image: url('../img/photo-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30rem;
  color: #ffffff;
}

h5 {
  color: #fcd0c7;
}

.bg-color {
  background-color:
}

.linea1 {
  width: 26%;
  border-width: 3px;
  border-color: #fcd0c7;
}

.linea2 {
  width: 26%;
  border-width: 3px;
  border-color: #ffffff;
}

.work{
  color: #fcd0c7;
}
